<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User edit</title>
<body>
<form action="#" th:action="@{/user-edit}" th:object="${user}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <br/>
    <label for="surname">Surname</label>
    <input type="text" th:field="*{surname}" id="surname" placeholder="Surname">
    <br/>
    <label for="email">E-mail</label>
    <input type="text" th:field="*{email}" id="email" placeholder="E-mail">
    <br/>
    <input type="submit" value="Done">
</form>
</body>
</html>